.Containner2-login {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton {
    width: 390px;
    height: 240px;
    border: transparent;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Containner1-login {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Containner3-login {
    width: 390px;
    height: 230px;
}

.Containner4-login {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.volunmateImg {
    width: 260px;
    height: auto;
    margin-top: 20px;
    align-items: center;
}

.introduction {
    color: #9ED2BE;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 25px;
}