.errorBox {
    width: 333px;
    height: 176px;
    position: fixed;
    top: 35%;
    left: 5%;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #878D91;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.message {
    color: #FA7070;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 23px;
    left: 108px;
}

.errorLogo {
    position: absolute;
    top: 34px;
    left: 40px;
}

.confirmButton {
    width: 304px;
    height: 42px;
    border-radius: 4.459px;
    background: #878D91;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10.731px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 122px;
    left: 15px;
}