body {
    margin: 17px;
}

/* Vollumate 이미지 스타일 조정 */
.volunmate-img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    position: relative;
    left: 29px;
    /* 가운데 정렬 */
}

/* 스타일된 단락 요소 */
.styled-paragraph {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.stmt {
    color: var(--Basic-Text-Color, #878D91);
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Back 이미지 스타일 조정 */
.back-img {
    width: 37px;
    height: 37px;
    height: auto;
    margin-top: 20px;
    align-self: center;
    /* 가운데 정렬 */
}

/* 입력란 스타일 조정 */
input {
    width: 325px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5.297px;
    border: 1px solid var(--grey-5, #A9AFB3);
    background: #FFF;
    margin-bottom: 20px;
}

.address {
    width: 298px;
    height: 53.834px;
    flex-shrink: 0;
    border-radius: 17.507px;
    border: 1px solid #A9AFB3;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
}